 <% organizations.forEach(org => { %>
  <div class="org-card">
    <img src="/images/logos/<%= org.logo_filename %>" alt="<%= org.name %> logo">
    <h2><%= org.name %></h2>
    <p><%= org.description %></p>
    <p>Contact: <a href="mailto:<%= org.contact_email %>"><%= org.contact_email %></a></p>
  </div>
<% }) %>