<%- include('partials/header') %>

    <main>
        <h1>
            <%= title %>
        </h1>

        <p>Our service projects will be listed here.</p>

        <ul>
            <% projects.forEach(project=> { %>
                <li>
                    <%= new Date(project.project_date).toLocaleDateString() %>:
                        <%= project.title %>
                            (<%= project.organization_name %>)
                </li>
                <% }) %>
        </ul>
    </main>

    <%- include('partials/footer') %>